In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [6]:
df = pd.read_csv('final_dataframe_MTA_congestion.csv')

In [8]:
df=df.drop('Unnamed: 0', axis=1)

In [9]:
df.head()

,From Date,To Date,Remote Station ID,Station,Total Fares for the Week,Contains Holiday,Gas Price,Total Snowfall,Total Rainfall
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,52469.0,No,3.21,0.0,2.83
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,3029.0,No,3.21,0.0,2.83
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,8455.0,No,3.21,0.0,2.83
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,8678.0,No,3.21,0.0,2.83
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,9821.0,No,3.21,0.0,2.83

In [11]:
#First need to create dummy variables for the contains holiday column
df = pd.get_dummies(df, columns=['Contains Holiday'])

In [12]:
df.head()

,From Date,To Date,Remote Station ID,Station,Total Fares for the Week,Gas Price,Total Snowfall,Total Rainfall,Contains Holiday_No,Contains Holiday_Yes
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,52469.0,3.21,0.0,2.83,True,False
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,3029.0,3.21,0.0,2.83,True,False
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,8455.0,3.21,0.0,2.83,True,False
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,8678.0,3.21,0.0,2.83,True,False
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,9821.0,3.21,0.0,2.83,True,False

In [13]:
#Now I need to scale all of the numerical features to have a mean of 0 and unit variance
scaler = StandardScaler()

In [14]:
df[['Total Fares for the Week', 'Gas Price', 'Total Snowfall', 'Total Rainfall']] = scaler.fit_transform(df[['Total Fares for the Week', 'Gas Price', 'Total Snowfall', 'Total Rainfall']])

In [18]:
df.head()

,From Date,To Date,Remote Station ID,Station,Total Fares for the Week,Gas Price,Total Snowfall,Total Rainfall,Contains Holiday_No,Contains Holiday_Yes
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,0.831519,2.441262,-0.174839,-1.042694,True,False
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,-0.557168,2.441262,-0.174839,-1.042694,True,False
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,-0.404761,2.441262,-0.174839,-1.042694,True,False
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,-0.398497,2.441262,-0.174839,-1.042694,True,False
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,-0.366392,2.441262,-0.174839,-1.042694,True,False

In [16]:
#Now just need to create the train test split sets for the model
X = df['Gas Price', 'Total Snowfall', 'Total Rainfall', 'Contains Holiday_No', 'Contains Holiday_Yes']
y = df['Total Fares for the Week']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

KeyError: ('Gas Price', 'Total Snowfall', 'Total Rainfall', 'Contains Holiday_No', 'Contains Holiday_Yes')