In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('MetroCard_History_2020-2021.csv')

In [4]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain 30 Day Unlimited,AirTrain 10-Trip,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited
0,07/31/2021,08/06/2021,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,0,0,0,327.0,0.0,0.0,0.0,695.0,253.0,242.0
1,07/31/2021,08/06/2021,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,0,0,0,70.0,0.0,0.0,0.0,105.0,39.0,37.0
2,07/31/2021,08/06/2021,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,0,0,0,301.0,0.0,0.0,0.0,205.0,87.0,53.0
3,07/31/2021,08/06/2021,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,0,0,0,111.0,0.0,0.0,0.0,265.0,60.0,131.0
4,07/31/2021,08/06/2021,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,0,0,0,148.0,0.0,0.0,0.0,255.0,95.0,99.0

In [5]:
df.describe()

,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,30 Day Unlimited,14 Day Reduced Fare Media Unlimited,1 Day Unlimited,14 Day Unlimited,...,AirTrain 30 Day Unlimited,AirTrain 10-Trip,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited
count,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,24867.000000,...,24867.000000,24867.000000,24867.000000,2813.000000,2813.000000,2813.000000,2813.000000,2813.000000,2813.000000,2813.000000
mean,10924.697229,802.292275,79.824587,172.257812,10.645997,4522.931958,4847.224595,0.336028,1.156955,0.049423,...,37.010415,9.159770,0.753046,167.334874,0.031994,0.035549,0.001066,524.349449,190.677568,195.358692
std,15804.202552,1234.930125,122.588040,323.279608,67.859305,6990.052602,9990.414993,5.789347,13.571839,0.780252,...,673.304541,228.806543,19.852248,166.381093,0.291609,0.264310,0.032645,452.028657,187.378003,194.726786
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3256.500000,196.000000,17.000000,32.000000,0.000000,974.000000,741.500000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,59.000000,0.000000,0.000000,0.000000,239.000000,68.000000,69.000000
50%,6343.000000,419.000000,40.000000,76.000000,0.000000,2247.000000,1761.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,120.000000,0.000000,0.000000,0.000000,400.000000,132.000000,138.000000
75%,12058.500000,888.000000,92.000000,177.000000,4.000000,5063.000000,4352.500000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,216.000000,0.000000,0.000000,0.000000,679.000000,252.000000,257.000000
max,232705.000000,15887.000000,1687.000000,5966.000000,1945.000000,97365.000000,177280.000000,457.000000,568.000000,55.000000,...,27988.000000,10253.000000,910.000000,1400.000000,6.000000,5.000000,1.000000,3412.000000,1427.000000,1507.000000

In [8]:
df.isna().sum()

From Date                                                      0
To Date                                                        0
Remote Station ID                                              0
Station                                                        0
Full Fare                                                      0
Senior Citizen/Disabled                                        0
7 Day ADA Farecard Access System Unlimited                     0
30 Day ADA Farecard Access/Reduced Fare Media Unlimited        0
Joint Rail Road Ticket                                         0
7 Day Unlimited                                                0
30 Day Unlimited                                               0
14 Day Reduced Fare Media Unlimited                            0
1 Day Unlimited                                                0
14 Day Unlimited                                               0
7 Day Express Bus Pass                                         0
TransitCheck                                                   0
Long Island Bus Special Senior                                 0
Reduced Fare 2-Trip                                            0
Rail Road Unlimited No Trade                                   0
TransitCheck Annual                                            0
Mail and Ride EasyPay Express                                  0
Mail and Ride EasyPay Unlimited                                0
PATH 2-Trip                                                    0
AirTrain Full Fare                                             0
AirTrain 30 Day Unlimited                                      0
AirTrain 10-Trip                                               0
AirTrain Monthly                                               0
Student                                                    22054
NICE 2-Trip                                                22054
CUNY 120 Day                                               22054
CUNY 60 Day                                                22054
Fair Fares Pay-Per-Ride                                    22054
Fair Fares 7 Day Unlimited                                 22054
Fair Fares 30 Day Unlimited                                22054
dtype: int64

In [10]:
df = df.fillna(0)

In [11]:
df.dtypes

From Date                                                   object
To Date                                                     object
Remote Station ID                                           object
Station                                                     object
Full Fare                                                    int64
Senior Citizen/Disabled                                      int64
7 Day ADA Farecard Access System Unlimited                   int64
30 Day ADA Farecard Access/Reduced Fare Media Unlimited      int64
Joint Rail Road Ticket                                       int64
7 Day Unlimited                                              int64
30 Day Unlimited                                             int64
14 Day Reduced Fare Media Unlimited                          int64
1 Day Unlimited                                              int64
14 Day Unlimited                                             int64
7 Day Express Bus Pass                                       int64
TransitCheck                                                 int64
Long Island Bus Special Senior                               int64
Reduced Fare 2-Trip                                          int64
Rail Road Unlimited No Trade                                 int64
TransitCheck Annual                                          int64
Mail and Ride EasyPay Express                                int64
Mail and Ride EasyPay Unlimited                              int64
PATH 2-Trip                                                  int64
AirTrain Full Fare                                           int64
AirTrain 30 Day Unlimited                                    int64
AirTrain 10-Trip                                             int64
AirTrain Monthly                                             int64
Student                                                    float64
NICE 2-Trip                                                float64
CUNY 120 Day                                               float64
CUNY 60 Day                                                float64
Fair Fares Pay-Per-Ride                                    float64
Fair Fares 7 Day Unlimited                                 float64
Fair Fares 30 Day Unlimited                                float64
dtype: object

In [12]:
df['From Date'] = pd.to_datetime(df['From Date'], format='%Y/%m/%d')
df['To Date'] = pd.to_datetime(df['To Date'], format='%Y/%m/%d')

In [13]:
df['Total Fares for the Week'] = df.iloc[:, 4:].sum(axis=1)

In [14]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain 10-Trip,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited,Total Fares for the Week
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,0,0,327.0,0.0,0.0,0.0,695.0,253.0,242.0,52469.0
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,0,0,70.0,0.0,0.0,0.0,105.0,39.0,37.0,3029.0
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,0,0,301.0,0.0,0.0,0.0,205.0,87.0,53.0,8455.0
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,0,0,111.0,0.0,0.0,0.0,265.0,60.0,131.0,8678.0
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,0,0,148.0,0.0,0.0,0.0,255.0,95.0,99.0,9821.0

In [21]:
df_holiday = pd.read_csv('US Holiday Dates (2004-2021).csv')

In [28]:
df_holiday.head()

        Date      Holiday    WeekDay  Month  Day  Year
0 2004-07-04  4th of July     Sunday      7    4  2004
1 2005-07-04  4th of July     Monday      7    4  2005
2 2006-07-04  4th of July    Tuesday      7    4  2006
3 2007-07-04  4th of July  Wednesday      7    4  2007
4 2008-07-04  4th of July     Friday      7    4  2008

In [23]:
df_holiday['Date'] = pd.to_datetime(df_holiday['Date'], format='%Y/%m/%d')

In [24]:
def contains_holiday(start_date, end_date, holidays):
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    mask = (holidays >= start_date) & (holidays <= end_date)
    holiday_count = mask.sum()
    if holiday_count > 0:
        return f"Yes ({holiday_count})"
    else:
        return "No"

In [25]:
df['Contains Holiday'] = df.apply(lambda row: contains_holiday(row['From Date'], row['To Date'], df_holiday['Date']), axis=1)

In [26]:
df.head()

,From Date,To Date,Remote Station ID,Station,Full Fare,Senior Citizen/Disabled,7 Day ADA Farecard Access System Unlimited,30 Day ADA Farecard Access/Reduced Fare Media Unlimited,Joint Rail Road Ticket,7 Day Unlimited,...,AirTrain Monthly,Student,NICE 2-Trip,CUNY 120 Day,CUNY 60 Day,Fair Fares Pay-Per-Ride,Fair Fares 7 Day Unlimited,Fair Fares 30 Day Unlimited,Total Fares for the Week,Contains Holiday
0,2021-07-31,2021-08-06,R001,WHITEHALL STREET,27946,1824,242,376,8,11958,...,0,327.0,0.0,0.0,0.0,695.0,253.0,242.0,52469.0,No
1,2021-07-31,2021-08-06,R003,CYPRESS HILLS,1323,134,3,13,0,817,...,0,70.0,0.0,0.0,0.0,105.0,39.0,37.0,3029.0,No
2,2021-07-31,2021-08-06,R004,75TH STREET & ELDERTS LANE,4241,321,15,43,0,2029,...,0,301.0,0.0,0.0,0.0,205.0,87.0,53.0,8455.0,No
3,2021-07-31,2021-08-06,R005,85TH STREET & FOREST PKWAY,4418,389,29,30,1,1999,...,0,111.0,0.0,0.0,0.0,265.0,60.0,131.0,8678.0,No
4,2021-07-31,2021-08-06,R006,WOODHAVEN BOULEVARD,4193,315,27,55,0,2946,...,0,148.0,0.0,0.0,0.0,255.0,95.0,99.0,9821.0,No

In [27]:
df[df['Contains Holiday'] == 'Yes']

Empty DataFrame
Columns: [From Date, To Date, Remote Station ID, Station, Full Fare, Senior Citizen/Disabled, 7 Day ADA Farecard Access System Unlimited, 30 Day ADA Farecard Access/Reduced Fare Media Unlimited, Joint Rail Road Ticket, 7 Day Unlimited, 30 Day Unlimited, 14 Day Reduced Fare Media Unlimited, 1 Day Unlimited, 14 Day Unlimited, 7 Day Express Bus Pass, TransitCheck, Long Island Bus Special Senior, Reduced Fare 2-Trip, Rail Road Unlimited No Trade, TransitCheck Annual, Mail and Ride EasyPay Express, Mail and Ride EasyPay Unlimited, PATH 2-Trip, AirTrain Full Fare, AirTrain 30 Day Unlimited, AirTrain 10-Trip, AirTrain Monthly, Student, NICE 2-Trip, CUNY 120 Day, CUNY 60 Day, Fair Fares Pay-Per-Ride, Fair Fares 7 Day Unlimited, Fair Fares 30 Day Unlimited, Total Fares for the Week, Contains Holiday]
Index: []

[0 rows x 36 columns]